<!DOCTYPE html>
<head>
   <title>TacoBot: LitterBox</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:275px;}
</style>
<body>  
    <body style="background-color:#343434;"></body>
    <center>
        <font color="Red"><h1> {{ Message }}</h1></font>
        <font color="White"><h2>MotorRunning: {{ motorRunning }}</h2></font>
    <a href="/run"><button class="w3-button w3-red">Run Script</button></a></p>
    </center>
</body>